.popup__form_input {
  border: none;
  font-family: "Inter";
}
.popup__form_item {
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
