.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  font-family: "Inter";
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__container {
  position: inherit;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__form {
  width: 358px;
  margin: 0 auto;
}
.popup__form-name {
  margin: 34px auto 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.popup__button {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.popup__button:hover {
  cursor: pointer;
  background: #000000cc;
}
.popup__close-icon {
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__close-icon:hover {
  background: #ffffff99;
  cursor: pointer;
}
.popup_opened {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .popup__container {
    width: 282px;
  }
  .popup__form {
    width: 238px;
  }
  .popup__button {
    width: 238px;
    height: 46px;
  }
  .popup__close-icon {
    width: 30px;
    height: 30px;
    top: -43px;
    right: -2px;
  }
}
